workflows/8HxI6ByWVNoLM8Ox.json
{
  "active": false,
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Check Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Title": {
      "main": [
        [
          {
            "node": "Check Title and Yaml Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Title and Yaml Match": {
      "main": [
        [
          {
            "node": "Gen Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Video2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Video3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Gen Video3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file 2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Product": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T08:46:08.601Z",
  "id": "8HxI6ByWVNoLM8Ox",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Video via Sora  Save prompt to Sheet",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify( ($json.Prompt || '').toString().replace(/```yaml|```/g, '').trim() ) }},\n    \"aspect_ratio\": \"portrait\",\n    \"n_frames\": \"15\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        880
      ],
      "id": "92089da1-fdae-467b-a323-e6b14c21a0ad",
      "name": "Gen Video2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=0",
          "__regex": "https:\\/\\/docs\\.google\\.com\\/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+.*\\#gid=([0-9]+)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        1008
      ],
      "id": "6564d4b4-005b-4862-9c1e-f4271583bdb2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d647d8e-2f82-4cec-a828-6a7b288c9a69",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        1008
      ],
      "id": "3f08843e-b8a3-4819-956c-ee79066d5596",
      "name": "Check Status"
    },
    {
      "parameters": {
        "jsCode": "// input: items ที่ Status = Pending\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const title = (item.json.Title || '').trim();\n  if (!title) continue;\n\n  if (seen.has(title)) {\n    // ถ้าเจอชื่อตรงกับตัวที่เคยผ่านแล้ว ก็ข้าม\n    continue;\n  }\n\n  seen.add(title);\n  out.push(item);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        880
      ],
      "id": "38bcb03a-f6c1-47b4-ba9b-8db7bbaa7f79",
      "name": "Check Title"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of items) {\n  const sheetTitle = (item.json.Title || '').trim();\n  const prompt = item.json.Prompt || '';\n\n  // หาบรรทัดที่ขึ้นต้นด้วย title:\n  const m = prompt.match(/^title:\\s*[\"']?(.*?)[\"']?\\s*$/m);\n\n  if (!m) {\n    // ถ้าไม่มี title ใน Prompt ให้ mark flag ไว้ (เดี๋ยวไปอัปเดต Sheet เป็น Error ภายหลัง)\n    item.json._titleCheck = 'missing';\n  } else {\n    const yamlTitle = m[1].trim();\n    item.json._titleFromPrompt = yamlTitle;\n    item.json._titleCheck = (yamlTitle === sheetTitle) ? 'ok' : 'mismatch';\n  }\n\n  out.push(item);\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        880
      ],
      "id": "3a98f588-1edd-458a-9390-bcbf4e5643f8",
      "name": "Check Title and Yaml Match"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "prompt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Check Title and Yaml Match').item.json.Title }}",
            "Status": "Generated"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        1152
      ],
      "id": "21e86d4c-d6ac-4e7d-9c0d-7e4bf61bb026",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1136
      ],
      "id": "acae551d-143a-4c6a-a650-12ea73929dfd",
      "name": "Gen Video3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        1136
      ],
      "id": "68ba4585-58cf-42fc-9193-6f66a1090f41",
      "name": "Wait1",
      "webhookId": "03e8ed07-4569-451f-9736-e79e167d3a21"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "=generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80f66826-1880-480b-810e-5a086031600d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa7e806e-9ddf-4886-b344-bf20d7762082",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58b62155-2dbc-42fc-b5b6-c0ac2d364506",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1008,
        1136
      ],
      "id": "5721221e-49d3-43ab-a958-cedcd9cea60e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ JSON.parse($json[\"data\"][\"resultJson\"]).resultUrls[0] }}\n",
        "responseFormat": "file",
        "options": {}
      },
      "id": "d1087fa8-acb7-42a8-a8ce-ea2b1563d953",
      "name": "Download Video1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1264,
        1152
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ggNigslrXGYczazwg2NfAGYSulGlb_zb",
          "mode": "list",
          "cachedResultName": "Gen-Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ggNigslrXGYczazwg2NfAGYSulGlb_zb"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        1152
      ],
      "id": "a3a6b156-b3fd-4596-8880-b2f50f2c6074",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "koHJXYYbgj3Wz6At",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1687362037,
          "mode": "list",
          "cachedResultName": "product-image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=1687362037"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        368
      ],
      "id": "41ed741e-6249-48f3-8e12-927cff095fcb",
      "name": "Read Product",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1687362037,
          "mode": "list",
          "cachedResultName": "product-image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=1687362037"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product Name": "={{ $json.name }}",
            "Link": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        384
      ],
      "id": "62753a41-34d9-422e-9d03-d3cdd8849056",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        288
      ],
      "id": "4003b25d-78c1-4be1-9349-6c073ad9d759",
      "name": "Get a file",
      "webhookId": "41290621-b4a1-424e-9f3b-dd0626d6f56f",
      "credentials": {
        "telegramApi": {
          "id": "e3xOoryWmJN535U2",
          "name": "Jaivxx"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Telegram Trigger').item.json.message.caption }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1yugk7KC37DRcqbfD8wUViUIYxeTny6Cy",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        384
      ],
      "id": "6f862eab-4221-4c4d-ad94-40cd07643bfa",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "koHJXYYbgj3Wz6At",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        384
      ],
      "id": "fb52cd77-a3fa-40e6-9f1b-e5c6d4b69627",
      "name": "Telegram Trigger",
      "webhookId": "ea3dc0b7-1631-4df3-bbe4-cacae32c5160",
      "credentials": {
        "telegramApi": {
          "id": "e3xOoryWmJN535U2",
          "name": "Jaivxx"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "prompt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Prompt": "={{ $json.yaml }}",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        368
      ],
      "id": "e3c0966f-0e87-41ad-9686-ee7e7c311437",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.video_plans",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        368
      ],
      "id": "ff2ac99f-197b-44fe-a947-62b97c79fb1a",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        992,
        560
      ],
      "id": "1f0ac1ff-1fd9-4e10-8555-e3702b550e0f",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        560
      ],
      "id": "ab5340ef-ab04-491c-a2bd-18f6cdfcf68f",
      "name": "ChatGPT",
      "credentials": {
        "openAiApi": {
          "id": "BAxnWWpI6AR1hxUS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณเป็นผู้กำกับคอนเทนต์และผู้สร้างวิดีโอสั้นสำหรับรีวิวสินค้า\n\nเป้าหมาย:\nสร้างแนวคิดวิดีโอ 10 แบบ ที่ถ่ายด้วยมือถือ ดูจริง เป็นธรรมชาติ  \nภาษาไทยทั้งหมด (spoken_words)  \nและต้องเป็นวิดีโอภาพล้วน ไม่มีข้อความบนหน้าจอ  \n(no text on screen, no captions, no subtitles, no stickers)\n\nใช้ข้อมูล YAML ของสินค้าใน {{ $json.content }}\n\n### รูปแบบผลลัพธ์\nตอบกลับเป็น JSON เท่านั้น:\n\n{\n  \"video_plans\": [\n    {\n      \"id\": <1>,\n      \"yaml\": \"<YAML string ของแผนวิดีโอ>\"\n    },\n    {\n      \"id\": <2>,\n      \"yaml\": \"<YAML string ของแผนวิดีโอ>\"\n    },\n    ...\n    {\n      \"id\": <10>,\n      \"yaml\": \"<YAML string ของแผนวิดีโอ>\"\n    }\n  ]\n}\n\nในฟิลด์ `yaml` ให้เป็น YAML เต็มของ plan นั้น เช่น:\n\ntitle: \"<ชื่อคลิป>\"\ntarget_audience: \"<กลุ่ม>\"\nsetting: \"<สถานที่>\"\ncamera_style: \"<สไตล์กล้อง>\"\ncamero: \"<Character ของเรา>\"\nmood_tone: \"<โทน>\"\nduration_sec: <ระยะเวลา>\ninclude_text_overlays: false\nscript_lines:\n  - scene: 1\n    camera_action: \"<...>\"\n    visual_focus: \"<...>\"\n    spoken_words: \"<คำพูดไทย>\"\n  - scene: 2\n    camera_action: \"<...>\"\n    visual_focus: \"<...>\"\n    spoken_words: \"<...>\"\nmusic_suggestion: \"<แนวดนตรี>\"\nt2v_prompt: >\n  <บรรยายภาพรวมซีนเป็นภาษาอังกฤษ>\n  no text on screen, no captions, no stickers\n\nกฎ:\n- ไม่มี markdown ไม่มี ``` ใน output\n- YAML ต้องเป็น string (ใช้ \\n สำหรับขึ้นบรรทัด)\n- ต้องมี video_plans ทั้ง 10 อัน\n- ต้องมี id 1–10 ครบ\n\nในผลลัพธ์ JSON แต่ละอันของ video_plans:\n- ให้มี field \"id\" (1–10)\n- ให้มี field \"title\" เป็นข้อความภาษาไทย\n- ให้มี field \"yaml\" ที่เป็น YAML string ของแผนนั้น\n- ห้ามซ้ำกัน\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        896,
        368
      ],
      "id": "4ce48f3b-7084-4171-a181-64527387719c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=You are an AI product analyst.\n\nAnalyze the given product image carefully and describe all visible details.\n\nReturn the result **strictly in YAML format**, with the following structure:\n\nproduct:\n  name: <short name of the product based on the image>\n  category: <product type or category, e.g. smartphone, shoes, cosmetics, drink>\n  description: <short descriptive summary, 1–2 sentences, describing look, style, and materials>\n  color: <main visible color(s)>\n  shape: <main shape or form factor>\n  packaging: <describe packaging or container if visible>\n  brand_logo_text: <text or brand name visible, or null if none>\n  estimated_price_range: <rough guess in USD or THB>\n  aesthetic_style: <describe style: modern, minimal, luxury, eco, cute, etc.>\n  background_context: <describe the background or scene: white studio, outdoor, table, etc.>\n  potential_uses:\n    - <use case 1>\n    - <use case 2>\n    - <use case 3>\n  marketing_caption: <short catchy caption suitable for ad or TikTok description>\n\nOutput example:\n```yaml\nproduct:\n  name: \"Wireless Bluetooth Speaker\"\n  category: \"Electronics\"\n  description: \"A small cylindrical Bluetooth speaker with fabric texture and metallic rim.\"\n  color: \"Black with silver edges\"\n  shape: \"Cylinder\"\n  packaging: \"No packaging visible\"\n  brand_logo_text: \"SONY\"\n  estimated_price_range: \"50–80 USD\"\n  aesthetic_style: \"Modern and minimal\"\n  background_context: \"White background studio lighting\"\n  potential_uses:\n    - \"Listening to music outdoors\"\n    - \"Watching movies with better sound\"\n    - \"Decor for home workspace\"\n  marketing_caption: \"Feel the beat anywhere — compact power in your palm.\"\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        656,
        368
      ],
      "id": "ba9e99f7-feca-4b06-b479-4fd514c2d816",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "BAxnWWpI6AR1hxUS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a7ec158-e043-4b81-ace6-007ff996c60e",
              "leftValue": "={{ $json.message.photo[3] }}",
              "rightValue": "=",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        384
      ],
      "id": "50691c9d-9096-443d-befa-2e38f90cf53f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        464
      ],
      "id": "fefcaad1-c55b-487f-b59d-bac43ef95727",
      "name": "Get a file 2",
      "webhookId": "41290621-b4a1-424e-9f3b-dd0626d6f56f",
      "credentials": {
        "telegramApi": {
          "id": "e3xOoryWmJN535U2",
          "name": "Jaivxx"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"video_plans\": {\n      \"type\": \"array\",\n      \"minItems\": 10,\n      \"maxItems\": 10,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"integer\" },\n          \"title\": { \"type\": \"string\" },\n          \"yaml\": { \"type\": \"string\" }\n        },\n        \"required\": [\"id\", \"title\", \"yaml\"]\n      }\n    }\n  },\n  \"required\": [\"video_plans\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        560
      ],
      "id": "9ae747b9-2e86-4602-82d4-349d2ccb3720",
      "name": "Structured"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.Link }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        368
      ],
      "id": "9606f50c-4119-462a-bb2b-a608cb3cea74",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "koHJXYYbgj3Wz6At",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        992
      ],
      "id": "5ada559d-1ad9-42fd-86be-8df57044c8f5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Upload Image to Google Drive\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 512,
        "width": 1344,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        256
      ],
      "id": "63282991-c14a-4dc6-bbd4-af0d0fea2f52",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generate prompt\n**สร้าง Prompt ออกมา 10 ชุด ต่อภาพสินค้า 1 ภาพ",
        "height": 512,
        "width": 2112,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        256
      ],
      "id": "7dbcd87a-5c01-4ff0-a9c0-df0efbbb80ff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Video\n**เจนวิดีโอจากการอ่าน Sheet แล้วเช็คสถาะนะว่าเจนไปแล้วหรือยัง Prompt ไหนยังไม่เจนจะทำการยิง Request ไปเจนวิดีโอทันที",
        "height": 736,
        "width": 2448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        768
      ],
      "id": "bc6cda99-56f0-4e29-b127-099e7d217a9f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "prompt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Check Title and Yaml Match').item.json.Title }}",
            "Status": "Fail"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        1328
      ],
      "id": "fd1f7b6d-7629-400e-b112-a27769d8c684",
      "name": "Update Fail",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-18T08:46:08.608Z",
      "updatedAt": "2025-11-18T08:46:08.608Z",
      "role": "workflow:owner",
      "workflowId": "8HxI6ByWVNoLM8Ox",
      "projectId": "kCWQ90PondCDczpc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T12:16:43.000Z",
  "versionId": "8fae4357-c435-4ac3-ae3d-1895ea77b862"
}