workflows/a6lspPmFKDSYkRnM.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Prompt Suno1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt Suno1": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Cover": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cover": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Cover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Cover": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Gen Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt Suno2": {
      "main": [
        [
          {
            "node": "Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get Prompt Suno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT": {
      "ai_languageModel": [
        [
          {
            "node": "Gen with Vocal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gen with Vocal",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Download Music1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt Suno": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Music1": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Music": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gen Song",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Song",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Song": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Song": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Gen no Vocal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT1": {
      "ai_languageModel": [
        [
          {
            "node": "Gen no Vocal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Gen no Vocal",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen no Vocal": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen with Vocal": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T16:08:01.172Z",
  "id": "a6lspPmFKDSYkRnM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Song via Suno + Gen Image",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1424,
        -1008
      ],
      "id": "fa0177d0-8b64-45c3-8a17-ecd8a7da80fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.Prompt }}\",\n      \"output_format\": \"png\",\n      \"image_size\": \"16:9\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        -1008
      ],
      "id": "eaa7768c-eaad-4996-b67b-2f7cbe17739d",
      "name": "Gen Cover",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 621247393,
          "mode": "list",
          "cachedResultName": "suno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=621247393"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1200,
        -1008
      ],
      "id": "b994426c-283a-46f2-902d-b461563f8f30",
      "name": "Get Prompt Suno1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        -1008
      ],
      "id": "a428aa92-6065-4f42-813c-550deccc26a5",
      "name": "Wait",
      "webhookId": "0635a5ff-f11c-4036-bff6-c29bb316eaaa"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -1008
      ],
      "id": "54d20436-c7d5-4959-ba41-ec024ca1276b",
      "name": "Get Cover",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aff82431-dbbb-4e86-8ebb-4853cff48d5d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3cd92391-0d5d-49b4-a7c7-58b508517ca1",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Waiting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ccd67fdd-6cc6-4e5b-82f3-5cef11682bd4",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generating"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -32,
        -1008
      ],
      "id": "11dbd012-1e08-4e51-b4f4-b169fb3f0dc9",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ JSON.parse($('Get Cover').item.json.data.resultJson).resultUrls[0] }}\n",
        "responseFormat": "file",
        "options": {}
      },
      "id": "e3bafff0-ee7a-430f-b8a0-4cb2617d64a2",
      "name": "Download Cover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        256,
        -1024
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generate Cover\n**Gen Cover สำหรับเพลง",
        "height": 624,
        "width": 2624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        -1152
      ],
      "id": "a32a8d6e-2432-465b-be85-b43c494b615b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "name": "={{ $('Get Prompt Suno1').item.json.Title }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14SB2FF3KQ_L1u3L_BrgVWew2thi_5dmn",
          "mode": "list",
          "cachedResultName": "cover-suno",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14SB2FF3KQ_L1u3L_BrgVWew2thi_5dmn"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        -1024
      ],
      "id": "335022b6-538c-4a05-afbe-eae84a9eaf79",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "koHJXYYbgj3Wz6At",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d647d8e-2f82-4cec-a828-6a7b288c9a69",
              "leftValue": "={{ $json.Cover }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        -1008
      ],
      "id": "dee9cb6d-3b2f-4d7b-93a0-7ec3afe79051",
      "name": "Check Status"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 621247393,
          "mode": "list",
          "cachedResultName": "suno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=621247393"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Get Prompt Suno1').item.json.Title }}",
            "Cover": "Generated"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Style",
              "displayName": "Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CustomMode",
              "displayName": "CustomMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instrumental",
              "displayName": "Instrumental",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CallBackUrl",
              "displayName": "CallBackUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NegativeTags",
              "displayName": "NegativeTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VocalGender",
              "displayName": "VocalGender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "StyleWeight",
              "displayName": "StyleWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WeirdnessConstraint",
              "displayName": "WeirdnessConstraint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AudioWeight",
              "displayName": "AudioWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PersonaId",
              "displayName": "PersonaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cover",
              "displayName": "Cover",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -816
      ],
      "id": "413740c3-04fa-4fca-a3c9-07d13e750b9f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 621247393,
          "mode": "list",
          "cachedResultName": "suno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=621247393"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        -816
      ],
      "id": "22be8a84-e205-45f1-986b-fadc4a312b45",
      "name": "Get Prompt Suno2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d647d8e-2f82-4cec-a828-6a7b288c9a69",
              "leftValue": "={{ $json.Cover }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        -816
      ],
      "id": "56848d28-c390-41a9-bc63-eb8a3686ea64",
      "name": "Check Status1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        784,
        -832
      ],
      "id": "b762f47c-3f57-415d-8375-4daf10ab1e65",
      "name": "Wait2",
      "webhookId": "8d901cce-8f6f-4bb4-98ab-ae8cc4bf0f61"
    },
    {
      "parameters": {
        "content": "## Generate Prompt\n**Gen Prompt 10 เพลง เก็บไปไว้ Sheet",
        "height": 624,
        "width": 2416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4016,
        -1152
      ],
      "id": "763b3932-003e-4478-88d7-2f0867675f41",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Suno\n**เช็ค Status บน Sheet แล้วนำมาเจน",
        "height": 624,
        "width": 2416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4016,
        -528
      ],
      "id": "b5b59f50-868d-44a1-988d-5980ad078f00",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2992,
        -960
      ],
      "id": "97c4fb55-1ee4-4b7e-9820-ba3d3e1699a2",
      "name": "ChatGPT",
      "credentials": {
        "openAiApi": {
          "id": "BAxnWWpI6AR1hxUS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"output\": {\n    \"songs\": [\n      {\n        \"prompt\": \"A soft acoustic easy-listening track with gentle English vocals and a calm evening mood.\",\n        \"style\": \"easy-listening, soft-pop, chill acoustic\",\n        \"title\": \"Quiet Reflections\",\n        \"customMode\": true,\n        \"instrumental\": false,\n        \"model\": \"V4_5PLUS\",\n        \"callBackUrl\": \"https://api.example.com/callback\",\n        \"negativeTags\": \"rock, heavy metal, aggressive drums\",\n        \"vocalGender\": \"f\",\n        \"styleWeight\": 0.6,\n        \"weirdnessConstraint\": 0.55,\n        \"audioWeight\": 0.7,\n        \"personaId\": \"persona_easylistening_01\",\n        \"cover-prompt\": \"\"\n      }\n    ]\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2816,
        -960
      ],
      "id": "a415cf35-c25d-410e-a091-33edfa89480d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.songs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2480,
        -1120
      ],
      "id": "0e5b0606-8f74-467a-b9d0-bd4553d55454",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 621247393,
          "mode": "list",
          "cachedResultName": "suno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=621247393"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Pending",
            "Cover": "Pending",
            "Prompt": "={{ $json.prompt }}",
            "Style": "={{ $json.style }}",
            "Title": "={{ $json.title }}",
            "CustomMode": "={{ $json.customMode }}",
            "Instrumental": "={{ $json.instrumental }}",
            "Model": "={{ $json.model }}",
            "CallBackUrl": "={{ $json.callBackUrl }}",
            "NegativeTags": "={{ $json.negativeTags }}",
            "VocalGender": "={{ $json.vocalGender }}",
            "StyleWeight": "={{ $json.styleWeight }}",
            "WeirdnessConstraint": "={{ $json.weirdnessConstraint }}",
            "AudioWeight": "={{ $json.audioWeight }}",
            "PersonaId": "={{ $json.personaId }}",
            "Cover-Prompt": "={{ $json['cover-prompt'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover-Prompt",
              "displayName": "Cover-Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Style",
              "displayName": "Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CustomMode",
              "displayName": "CustomMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instrumental",
              "displayName": "Instrumental",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CallBackUrl",
              "displayName": "CallBackUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NegativeTags",
              "displayName": "NegativeTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VocalGender",
              "displayName": "VocalGender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "StyleWeight",
              "displayName": "StyleWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WeirdnessConstraint",
              "displayName": "WeirdnessConstraint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AudioWeight",
              "displayName": "AudioWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PersonaId",
              "displayName": "PersonaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover",
              "displayName": "Cover",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2240,
        -1120
      ],
      "id": "926aab71-5c11-4c79-908c-d04b315d2a24",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 621247393,
          "mode": "list",
          "cachedResultName": "suno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=621247393"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Get Prompt Suno').item.json.Title }}",
            "status": "Generated"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Style",
              "displayName": "Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CustomMode",
              "displayName": "CustomMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instrumental",
              "displayName": "Instrumental",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CallBackUrl",
              "displayName": "CallBackUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NegativeTags",
              "displayName": "NegativeTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VocalGender",
              "displayName": "VocalGender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "StyleWeight",
              "displayName": "StyleWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WeirdnessConstraint",
              "displayName": "WeirdnessConstraint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AudioWeight",
              "displayName": "AudioWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PersonaId",
              "displayName": "PersonaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1888,
        -320
      ],
      "id": "321a21ea-f7d9-4b64-ba62-e48761d1226c",
      "name": "Update Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Download Music').item.json.data.response.sunoData[1].title }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YvrzfUDcJMfO3Up0SoJvOSECGciMlA2H",
          "mode": "list",
          "cachedResultName": "suno-song",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YvrzfUDcJMfO3Up0SoJvOSECGciMlA2H"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2128,
        -224
      ],
      "id": "7efac270-8569-4ad6-8be2-b88dd95ffe58",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "koHJXYYbgj3Wz6At",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.data.response.sunoData[0].title }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YvrzfUDcJMfO3Up0SoJvOSECGciMlA2H",
          "mode": "list",
          "cachedResultName": "suno-song",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YvrzfUDcJMfO3Up0SoJvOSECGciMlA2H"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2128,
        -384
      ],
      "id": "c82e423a-e7f9-4461-829a-7b6556568b0f",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "koHJXYYbgj3Wz6At",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 621247393,
          "mode": "list",
          "cachedResultName": "suno",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=621247393"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3696,
        -336
      ],
      "id": "a30cf72c-7d86-445e-a00c-88d242900a2c",
      "name": "Get Prompt Suno",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf1b577c-6f03-441d-a9c9-db33b52a2325",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3472,
        -336
      ],
      "id": "46524892-6ade-4d7c-ae39-abf992c6d4ee",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $('Download Music').item.json.data.response.sunoData[1].audioUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "10c671eb-57f9-4cc1-ace3-eadd9726a668",
      "name": "Download Music1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2352,
        -224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $json.data.response.sunoData[0].sourceAudioUrl }}\n",
        "responseFormat": "file",
        "options": {}
      },
      "id": "a23555b2-acf0-4cd0-aeba-c01b8434409c",
      "name": "Download Music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2352,
        -384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "=PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80f66826-1880-480b-810e-5a086031600d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa7e806e-9ddf-4886-b344-bf20d7762082",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "TEXT_SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT_SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39e8cdcb-3f17-4910-ba84-73d93536ceb8",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "FIRST_SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FIRST_SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5601b919-e71b-4344-a499-d878ff8dde17",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2576,
        -368
      ],
      "id": "6a93eca2-3339-4e14-b8ff-7b6252634dba",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3024,
        -336
      ],
      "id": "8e7871c7-a5c4-45ba-b5b1-648b0e8cecc1",
      "name": "Wait1",
      "webhookId": "4d7b8225-19ea-4805-b801-b38477981c04"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2800,
        -336
      ],
      "id": "1ef10823-c1f7-48c7-b3a2-cbd6b943e5a1",
      "name": "Get Song",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.Prompt }}\",\n  \"style\": \"{{ $json.Style }}\",\n  \"title\": \"{{ $json.Title }}\",\n  \"customMode\": {{ $json.CustomMode }},\n  \"instrumental\": {{ $json.Instrumental }},\n  \"model\": \"{{ $json.Model }}\",\n  \"callBackUrl\": \"{{ $json.CallBackUrl }}\",\n  \"negativeTags\": \"{{ $json.NegativeTags }}\",\n  \"vocalGender\": \"{{ $json.VocalGender }}\",\n  \"styleWeight\": {{ $json.StyleWeight }},\n  \"weirdnessConstraint\": {{ $json.WeirdnessConstraint }},\n  \"audioWeight\": {{ $json.AudioWeight }},\n  \"personaId\": \"{{ $json.PersonaId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3248,
        -336
      ],
      "id": "8e64b848-36dd-4e2f-87ea-763ebf9ef539",
      "name": "Gen Song",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qz2RJuVUJ9aWcviO",
          "name": "sora"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3888,
        -688
      ],
      "id": "66571ae8-a582-49df-be96-aa65df0d91cb",
      "name": "Telegram Trigger",
      "webhookId": "ea3dc0b7-1631-4df3-bbe4-cacae32c5160",
      "credentials": {
        "telegramApi": {
          "id": "e3xOoryWmJN535U2",
          "name": "Jaivxx"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -3520,
        -960
      ],
      "id": "f690ce0f-2652-4b01-b16f-692786daaec0",
      "name": "When chat message received",
      "webhookId": "5bd88fe3-32e9-48be-8457-d9e946c46d2d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2992,
        -656
      ],
      "id": "a76706f4-b1bb-4ba8-b3b3-50a7286d5b55",
      "name": "ChatGPT1",
      "credentials": {
        "openAiApi": {
          "id": "BAxnWWpI6AR1hxUS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"output\": {\n    \"songs\": [\n      {\n        \"prompt\": \"A soft acoustic easy-listening track with gentle English vocals and a calm evening mood.\",\n        \"style\": \"easy-listening, soft-pop, chill acoustic\",\n        \"title\": \"Quiet Reflections\",\n        \"customMode\": true,\n        \"instrumental\": false,\n        \"model\": \"V4_5PLUS\",\n        \"callBackUrl\": \"https://api.example.com/callback\",\n        \"negativeTags\": \"rock, heavy metal, aggressive drums\",\n        \"vocalGender\": \"f\",\n        \"styleWeight\": 0.6,\n        \"weirdnessConstraint\": 0.55,\n        \"audioWeight\": 0.7,\n        \"personaId\": \"persona_easylistening_01\",\n        \"cover-prompt\": \"\"\n      }\n    ]\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2816,
        -656
      ],
      "id": "edb9bf34-3e97-4247-87a6-bb1aad4cec2e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.songs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2480,
        -816
      ],
      "id": "6df47482-c1ad-40a7-9396-134ab90ee560",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o",
          "mode": "list",
          "cachedResultName": "Video Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 78261302,
          "mode": "list",
          "cachedResultName": "suno-no-vocal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gR3ePMb4xxfJFnxdqzKDsM0wQgVjzoI0kwNyS0vfc_o/edit#gid=78261302"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Pending",
            "Cover": "Pending",
            "Prompt": "={{ $json.prompt }}",
            "Style": "={{ $json.style }}",
            "Title": "={{ $json.title }}",
            "CustomMode": "={{ $json.customMode }}",
            "Instrumental": "={{ $json.instrumental }}",
            "Model": "={{ $json.model }}",
            "CallBackUrl": "={{ $json.callBackUrl }}",
            "NegativeTags": "={{ $json.negativeTags }}",
            "VocalGender": "={{ $json.vocalGender }}",
            "StyleWeight": "={{ $json.styleWeight }}",
            "WeirdnessConstraint": "={{ $json.weirdnessConstraint }}",
            "AudioWeight": "={{ $json.audioWeight }}",
            "PersonaId": "={{ $json.personaId }}",
            "Cover-Prompt": "={{ $json['cover-prompt'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover-Prompt",
              "displayName": "Cover-Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Style",
              "displayName": "Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CustomMode",
              "displayName": "CustomMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instrumental",
              "displayName": "Instrumental",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CallBackUrl",
              "displayName": "CallBackUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NegativeTags",
              "displayName": "NegativeTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VocalGender",
              "displayName": "VocalGender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "StyleWeight",
              "displayName": "StyleWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WeirdnessConstraint",
              "displayName": "WeirdnessConstraint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AudioWeight",
              "displayName": "AudioWeight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PersonaId",
              "displayName": "PersonaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cover",
              "displayName": "Cover",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2240,
        -816
      ],
      "id": "a3d12498-42cb-445e-bc5e-fbc0e90cba54",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3M7pzlgCFWRAu9ON",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI music prompt designer for a generative music model.\n\nCRITICAL RULES (must follow 100%):\nYou MUST output only one single JSON object.\nInside that JSON, include a field named \"output\".\nInside \"output\", there must be a field named \"songs\".\n\"songs\" MUST be an array containing EXACTLY 10 song objects.\nDO NOT output multiple JSON objects.\nDO NOT output text before or after the JSON.\nDO NOT escape quotes using backslashes (NO \\\").\nJSON must be clean, strict, and valid.\n\nYour task:\nGenerate 10 unique INSTRUMENTAL tracks (No Lyrics) in the style of \"{{ $json.chatInput }}\".\nThe style may include any soft/chill/easy-listening themes according to the user's requested style.\n\nSong structure must follow:\n{\n\"prompt\": \"string\",\n\"style\": \"string\",\n\"title\": \"string\",\n\"customMode\": true,\n\"instrumental\": true,\n\"model\": \"V5\",\n\"callBackUrl\": \"https://api.example.com/callback\",\n\"negativeTags\": \"vocals, voice, lyrics, speech, singing, rock, heavy metal\",\n\"styleWeight\": number between 0.5 and 0.8,\n\"weirdnessConstraint\": number between 0.5 and 0.8,\n\"audioWeight\": number between 0.5 and 0.8,\n\"personaId\": \"persona_easylistening_01\",\n\"cover-prompt\": \"string\"\n}\n\nField rules:\n\n\"prompt\" (VERY IMPORTANT - INSTRUMENTAL ONLY)\nMUST describe the instruments, mood, and musical progression.\nDO NOT include any lyrics.\nMUST use meta-tags to define structure, e.g., [Soft Piano Intro], [Slow Build Up], [Melodic Bass], [Saxophone Solo], [Fade Out].\nDescription MUST fit the theme of \"{{ $json.chatInput }}\".\n\n\"instrumental\"\nMUST be set to true.\n\n\"cover-prompt\" (IMAGE GENERATION RULES)\nYou MUST generate a specific image prompt for each song. \nDO NOT output the raw logic options like {A|B}. Instead, YOU must randomly PICK one option for each variable below to create a complete sentence string.\n\nTemplate:\n\"A high-quality digital illustration in a warm, Disney-style 2D art style. A young woman with [HAIR_STYLE] is [LOCATION_ACTION_PAIR], wearing a thick blue cable-knit turtleneck sweater and blue jeans. She [HAND_ACTION], eyes closed with a peaceful smile. To her left is a white fireplace with a roaring fire; [MUSIC_SOURCE]. Behind her is a tall bookshelf filled with books. To her right, a large window reveals a city skyline at night with soft lights. Golden musical notes represent music floating in the air around her. The atmosphere is cozy, hygge, and relaxing. Text '\"title\"' written in a stylish font at the bottom right corner.\"\n\nVariables to Randomize (Pick ONE for each song):\n1. [HAIR_STYLE]:\n   - \"long wavy hair\"\n   - \"short bob cut\"\n   - \"messy bun hairstyle\"\n   - \"braided ponytail\"\n\n2. [LOCATION_ACTION_PAIR] & [HAND_ACTION] (Must match logically):\n   - Option A: \"sitting comfortably in a plush purple armchair\" AND \"holds a white steaming mug with both hands\"\n   - Option B: \"sitting at her working desk in a cozy room\" AND \"is working on documents on the desk\"\n   - Option C: \"sitting at a table in the dining room\" AND \"is enjoying a warm dinner\"\n\n3. [MUSIC_SOURCE] (Pick one and adjust sentence flow):\n   - \"on the mantelpiece sits a vintage record player\"\n   - \"on the mantelpiece sits a modern music player\"\n   - \"she is wearing a headset and listening to music\"\n\n\"style\"\nA short label representing the musical vibe, e.g., \"lo-fi study beats\", \"acoustic piano instrumental\", \"chill jazz instrumental\".\n\n\"title\"\nMust be poetic and atmospheric (e.g., \"Midnight Rain\", \"Coffee Silence\"). No quotes inside.\n\nStatic Fields:\n\"customMode\": true\n\"instrumental\": true\n\"model\": \"V4_5PLUS\"\n\"callBackUrl\": \"https://api.example.com/callback\"\n\"negativeTags\": \"vocals, voice, lyrics, speech, singing, rock, heavy metal\"\n\"personaId\": \"persona_easylistening_01\"\n\nRandomized numeric fields:\n\"styleWeight\": 0.5–0.8\n\"weirdnessConstraint\": 0.5–0.8\n\"audioWeight\": 0.5–0.8\n\nFINAL REQUIRED OUTPUT FORMAT (DO NOT BREAK THIS):\n{\n  \"output\": {\n    \"songs\": [\n      { ...song1... },\n      { ...song2... },\n      { ...song3... },\n      { ...song4... },\n      { ...song5... },\n      { ...song6... },\n      { ...song7... },\n      { ...song8... },\n      { ...song9... },\n      { ...song10... }\n    ]\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2976,
        -816
      ],
      "id": "b0ab4565-0abf-48b5-9e97-8cb44a757ef8",
      "name": "Gen no Vocal"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI music prompt designer for a generative music model.\n\nCRITICAL RULES (must follow 100%):\nYou MUST output only one single JSON object.\nInside that JSON, include a field named \"output\".\nInside \"output\", there must be a field named \"songs\".\n\"songs\" MUST be an array containing EXACTLY 10 song objects.\nDO NOT output multiple JSON objects.\nDO NOT output text before or after the JSON.\nDO NOT escape quotes using backslashes (NO \\\").\nDO NOT include double quotes inside lyrics (use ' if needed).\nJSON must be clean, strict, and valid.\n\nYour task:\nGenerate 10 unique songs in the style of \"{{ $json.chatInput }}\", each with full expanded lyrics long enough for a 2–4 minute song.\nThe style may include any soft/chill/easy-listening themes according to the user's requested style.\n\nSong structure must follow:\n{\n\"prompt\": \"string\",\n\"style\": \"string\",\n\"title\": \"string\",\n\"customMode\": true,\n\"instrumental\": false,\n\"model\": \"V5\",\n\"callBackUrl\": \"https://api.example.com/callback\",\n\"negativeTags\": \"rock, heavy metal, aggressive drums\",\n\"vocalGender\": \"m or f\",\n\"styleWeight\": number between 0.5 and 0.8,\n\"weirdnessConstraint\": number between 0.5 and 0.8,\n\"audioWeight\": number between 0.5 and 0.8,\n\"personaId\": \"persona_easylistening_01\",\n\"cover-prompt\": \"string\"\n}\n\nField rules:\n\n\"prompt\" (VERY IMPORTANT)\nMUST contain full lyrics of a 2–4 minute song.\nLyrics MUST fit the theme of \"{{ $json.chatInput }}\".\nStructure MUST contain multiple full sections: (Intro), (Verse 1), (Pre-Chorus), (Chorus), (Verse 2), (Bridge), (Final Chorus), (Outro).\nLyric length requirement: minimum 30 lines, ideal 40–80 lines.\nNo double quotes allowed inside lyrics. Use ' instead.\n\n\"cover-prompt\" (IMAGE GENERATION RULES)\nYou MUST generate a specific image prompt for each song. \nDO NOT output the raw logic options like {A|B}. Instead, YOU must randomly PICK one option for each variable below to create a complete sentence string.\n\nTemplate:\n\"A high-quality digital illustration in a warm, Disney-style 2D art style. A young woman with [HAIR_STYLE] is [LOCATION_ACTION_PAIR], wearing a thick blue cable-knit turtleneck sweater and blue jeans. She [HAND_ACTION], eyes closed with a peaceful smile. To her left is a white fireplace with a roaring fire; [MUSIC_SOURCE]. Behind her is a tall bookshelf filled with books. To her right, a large window reveals a city skyline at night with soft lights. Golden musical notes represent music floating in the air around her. The atmosphere is cozy, hygge, and relaxing. Text '\"title\"' written in a stylish font at the bottom right corner.\"\n\nVariables to Randomize (Pick ONE for each song):\n1. [HAIR_STYLE]:\n   - \"long wavy hair\"\n   - \"short bob cut\"\n   - \"messy bun hairstyle\"\n   - \"braided ponytail\"\n\n2. [LOCATION_ACTION_PAIR] & [HAND_ACTION] (Must match logically):\n   - Option A: \"sitting comfortably in a plush purple armchair\" AND \"holds a white steaming mug with both hands\"\n   - Option B: \"sitting at her working desk in a cozy room\" AND \"is working on documents on the desk\"\n   - Option C: \"sitting at a table in the dining room\" AND \"is enjoying a warm dinner\"\n\n3. [MUSIC_SOURCE] (Pick one and adjust sentence flow):\n   - \"on the mantelpiece sits a vintage record player\"\n   - \"on the mantelpiece sits a modern music player\"\n   - \"she is wearing a headset and listening to music\"\n\nExample of a valid cover-prompt output:\n\"A high-quality digital illustration in a warm, Disney-style 2D art style. A young woman with short bob cut is sitting at her working desk in a cozy room, wearing a thick blue cable-knit turtleneck sweater and blue jeans. She is working on documents on the desk, eyes closed with a peaceful smile. To her left is a white fireplace with a roaring fire; on the mantelpiece sits a modern music player. Behind her is a tall bookshelf filled with books... (rest of template)\"\n\n\"style\"\nA short label representing the musical vibe, e.g., \"easy listening\", \"soft acoustic pop\", \"warm chill-pop\".\n\n\"title\"\nMust be poetic, warm, and fitting the lyrics. No quotes inside.\n\nStatic Fields:\n\"customMode\": true\n\"instrumental\": false\n\"model\": \"V4_5PLUS\"\n\"callBackUrl\": \"https://api.example.com/callback\"\n\"negativeTags\": \"rock, heavy metal, aggressive drums\"\n\"personaId\": \"persona_easylistening_01\"\n\nRandomized numeric fields:\n\"styleWeight\": 0.5–0.8\n\"weirdnessConstraint\": 0.5–0.8\n\"audioWeight\": 0.5–0.8\n\"vocalGender\": \"m\" or \"f\" (Random)\n\nFINAL REQUIRED OUTPUT FORMAT (DO NOT BREAK THIS):\n{\n  \"output\": {\n    \"songs\": [\n      { ...song1... },\n      { ...song2... },\n      { ...song3... },\n      { ...song4... },\n      { ...song5... },\n      { ...song6... },\n      { ...song7... },\n      { ...song8... },\n      { ...song9... },\n      { ...song10... }\n    ]\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2976,
        -1120
      ],
      "id": "0d51dbe6-c7d5-45f7-96cb-2026ec22d3eb",
      "name": "Gen with Vocal"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-19T16:08:01.177Z",
      "updatedAt": "2025-11-19T16:08:01.177Z",
      "role": "workflow:owner",
      "workflowId": "a6lspPmFKDSYkRnM",
      "projectId": "kCWQ90PondCDczpc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T10:32:21.000Z",
  "versionId": "a68c1287-a2a2-4b76-8752-f3e5ad17dee4"
}