workflows/hRNXq3XYSHiBYQXD.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-07T14:25:24.487Z",
  "id": "hRNXq3XYSHiBYQXD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Post to ปะจิ Page",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        80
      ],
      "id": "a3466023-8fdc-449d-b92f-aeb3afafaeba",
      "name": "Telegram Trigger",
      "webhookId": "d5936286-f141-4727-b6a1-b3122f217f96",
      "credentials": {
        "telegramApi": {
          "id": "e3xOoryWmJN535U2",
          "name": "Jaivxx"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ช่วยเขียนแคปชั่นเป็นภาษาไทยจากชื่อจากข้อความนี้ {{ $json.message.caption }} คืออะไร เกิดขึ้นในปีไหน นวัตกรรมชิ้นมันเจ๋ง ฮา ยังไง\nออกมาในรูปแบบบทความบนเฟสบุ๊ค น่าสนใจ เข้าใจง่าย ไม่ต้องสวัสดีใคร ฟีลเหมือนเพื่อนคุยกัน ไม่ต้องทางการ ให้ความรู้เหมือนชายอายุ 25 ที่เป็นเด็ก Gen z เป็นคนโพส\nใส่แฮชแท็กที่เกี่ยวข้อง 4 อัน ใช้คำไม่เกิน 600 คำ ไม่ต้องใส่ข้อความลิงก์ดาวโหลด\nเอาเฉพาะคำตอบ\n\nตัวอย่างเนื้อหาโพส 1\n\n🚀 แจกฟรี! AI Workflow “Futuristic City Tower”  \nสร้างคลิป YouTube Shorts / TikTok / Reels แบบ *กดครั้งเดียว จบทุกขั้นตอน* 💥  \nอันนี้เป็นเวอชั่นที่คุณเน้นจ่าย API เป็นหลักครับ ส่วนเวอชั่นประหยัดที่ 1 คลิปไม่เสียเงินเลย นอกจากค่าไฟ เดี๋ยวจะมาปล่อยในตอนหลังครับ ติดตามไว้นะครับ ไม่ขายคอร์สตอนหลังแน่นอน เพราะไม่มีเวลาสอน 🙁\nปล. เน้นแจกครับ ไม่เน้นขาย\n---\n### ทำอะไรได้บ้าง  \n1. สุ่มธีมเมืองอนาคต  – โค้ด JavaScript เลือก city_type, materials, lighting ฯลฯ อัตโนมัติ  \n2. สร้าง Image Prompt + Video Prompt ด้วย LLM (OpenRouter + LangChain)  \n3. ผลิตภาพ 8K ผ่าน Flux 1.1 Ultra** → รอ 45 วินาที  \n4. แปลงภาพเป็นวิดีโอ 9:16 ด้วย Kling Video v1.6 Pro  \n5. แต่งซาวด์ (SFX + BGM) ผ่าน ElevenLabs  \n6. Render รวมเสียง-ภาพ ด้วย Creatomate  \n7. บันทึกข้อมูล ลง Google Sheet (ชื่อคลิป, คำอธิบาย, Hashtags, URL ฯลฯ)  \n8. อัปโหลดอัตโนมัติ ไป YouTube, TikTok, Instagram (ผ่าน API เดียว)  \n9. Trigger ตารางเวลา – ยิง 2 รอบ/วัน หรือกด Manual Test ก็ได้  \nทั้งหมดไหลใน n8n workflow เดียว 🎯   \n---\n### เหมาะกับใคร  \n- สาย คอนเทนต์สายเทค / เมืองอนาคต / architecture  \n- คนทำ ช่อง Shorts faceless ที่อยากอัตโนมัติ 100 %  \n- ทีมโปรดักชันเล็ก ๆ ที่ต้องการ *เร็ว-ถูก-ดี*  \n---\n### ของที่ต้องเตรียม  \n- API Key ส่วนตัวของคุณสำหรับ Flux, Kling, ElevenLabs, Creatomate \n- Google Sheets 1 ชุด (มีคอลัมน์ตาม workflow)  \n- บัญชี n8n (Self-host / Cloud ก็ได้)  \n> หมายเหตุ: ลบหรือเปลี่ยนคีย์ที่ผมใส่ไว้ในไฟล์ก่อนใช้งาน เพื่อความปลอดภัยของคุณเอง\n—\n\n\nตัวอย่างเนื้อหาโพส 2\n\n🌍 Google เปิดเว็บสอนภาษา\nเรียนรู้ได้จาก AI แบบไม่ต้องนัดครู\n.\n💥 Little Language Lessons\nเว็บไซต์ใหม่จาก Google\nที่ใช้ Gemini มาสร้างบทเรียนให้ทั้งหมด\n.\nเว็บนี้ไม่ได้สอนแบบน่าเบื่อ\nแต่ใช้ AI มาช่วยให้เรา ฝึกภาษาในชีวิตจริง ได้เลย\n.\nผ่าน 3 โหมดหลัก :\n.\n1) Tiny Lesson\nพิมพ์สถานการณ์ที่อยากเรียน\nเช่น \"I’m going to the Korean market\" \nGemini จะสอนคำและประโยคที่ใช้จริงในสถานการณ์นั้น\n.\n2) Slang Hang\nฝึกออกเสียงคำสแลงและบทสนทนา\nเหมือนได้พูดคุยกับเพื่อนเจ้าของภาษา\nโหมดนี้ช่วยให้เรา ออกเสียงชัดขึ้น แบบไม่เขิน\n.\n3) Word Cam\nเปิดกล้องมือถือ ถ่ายสิ่งรอบตัว\nAI จะสอนคำศัพท์จากภาพที่เห็น\nเช่น ถ่ายแก้วน้ำ = คำว่า “glass” ก็จะปรากฏขึ้น\nสนุกเหมือนเล่นเกม แต่ได้ศัพท์จริง\n.\n.\nGoogle บอกว่า\nนี่คือ การทดลอง ว่า Gemini \nจะช่วยพัฒนาเว็บแอปด้านการศึกษาได้แค่ไหน\nใครอยากลองก่อนใคร คลิกเลย\nhttps://labs.google/lll/en\n( ยังไม่มีภาษาไทย )\n.\nเพราะนี่ไม่ใช่แค่เว็บเรียนภาษา\nแต่มันแสดงให้เห็นว่า อนาคตของการศึกษาแบบ AI-first\nกำลังเริ่มขึ้นแล้ว\n.\nใครเป็นสายเรียนรู้ด้วยภาพ เสียง และสถานการณ์จริง\nแนะนำให้ลอง แล้วบอกเราด้วยว่าชอบโหมดไหนที่สุดครับ\n—\nWi3.CHATBOT\nพื้นที่เรียนรู้โลก AI อย่างเข้าใจ และสนุกได้ทุกวัน\n#Wi3chatbot #เรียนรู้กับAI #GeminiAI #google\n\n\nตัวอย่างเนื้อหาโพส 3\n\nอยาก automate โว้ยยย | n8n กาววิเศษสำหรับการเชื่อมแอปพลิเคชั่นต่างๆ ✨ \nเบื่องานซ้ำซ้อนที่ต้องทำข้ามแอปฯ ไปมาไหม? เช่น ดึงข้อมูลจากอีเมลไปใส่ Google Sheets แล้วแจ้งเตือนใน Slack? 😵‍💫\nn8n (อ่านว่า เอ็น-เอท-เอ็น) คือเครื่องมือ 'Workflow Automation' ที่จะมาช่วยให้ชีวิตง่ายขึ้น! คิดภาพเหมือนตัวต่อ LEGO ดิจิทัล หรือกาววิเศษที่เชื่อมแอปฯ ที่เราใช้ทุกวันให้ทำงานร่วมกันได้อัตโนมัติ 🤖\n🤔 มันทำอะไรได้บ้าง?\n✅ สร้าง Workflow ง่ายๆ: จะลากวางแบบ Visual 🖱️ (ไม่ต้องเขียนโค้ด!) หรือจะเขียนโค้ด (JavaScript/Python) สำหรับงานซับซ้อนก็ได้ ยืดหยุ่นสุดๆ\n✅ เชื่อมต่อเพียบ: รองรับกว่า 400+ แอปฯ ยอดฮิต! ทั้ง Google Workspace, Slack, Discord, Database, และที่สำคัญคือเครื่องมือ AI ต่างๆ 🔗\n✅ พลัง AI: จุดเด่นคือการนำ AI (เช่น LLMs) มาใส่ใน Workflow ได้ง่ายๆ แค่ลากวาง! สร้าง Agent AI ช่วยงานก็ยังได้ 🧠\n✅ เลือกที่ติดตั้งได้: จะติดตั้งบน Server ของตัวเอง (Self-host) เพื่อคุมข้อมูลเต็มที่ หรือใช้บริการ Cloud ของ n8n ก็สะดวก 👍\n✅ ฟรีและ Open Source: เปิดให้ใช้ฟรี! มี Community กว่า 200,000 คนคอยช่วย มี Templates สำเร็จรูปกว่า 1,700 แบบให้เริ่มใช้ง่ายๆ 🤝\n🧑‍💻 เหมาะกับใคร?\nหลักๆ คือทีมสาย Tech (IT, Dev, Security) แต่ด้วยความที่ใช้ง่าย คนทั่วไปที่อยากลองทำ Automation เองก็เริ่มจากตัว Visual ได้สบายๆ\nสรุปคือ n8n เป็นเครื่องมือทรงพลังที่ช่วยประหยัดเวลา ลดข้อผิดพลาด และทำให้การเชื่อมต่อแอปฯ ต่างๆ + AI เป็นเรื่องง่ายขึ้นเยอะเลย! ลองไปเล่นกันดูได้ที่ n8n.io นะครับ 😉\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        80
      ],
      "id": "9d29dec1-4ad4-4629-8e49-d1b0984cbfcb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        288
      ],
      "id": "8c2ddc3a-1396-4701-ad79-30a1be64f680",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BAxnWWpI6AR1hxUS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Markdown -> Plain text ---\nfunction mdToPlain(input) {\n  let s = String(input ?? \"\");\n\n  // normalise newlines + \"\\n\"\n  s = s.replace(/\\r\\n?/g, \"\\n\");\n  s = s.replace(/\\\\n/g, \"\\n\");\n\n  // headings\n  s = s.replace(/^\\s{0,3}#{1,6}\\s*/gm, \"\");\n\n  // blockquote\n  s = s.replace(/^\\s{0,3}>\\s?/gm, \"\");\n\n  // ordered list -> 1) ...\n  s = s.replace(/^\\s{0,3}(\\d+)\\.\\s+/gm, (_, n) => `${n}) `);\n\n  // bullet list -> • ...\n  s = s.replace(/^\\s{0,3}[-*+]\\s+/gm, \"• \");\n\n  // images ![alt](url) -> alt\n  s = s.replace(/!\\[([^\\]]*)\\]\\(([^)]+)\\)/g, \"$1\");\n\n  // links [text](url) -> text\n  s = s.replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, \"$1\");\n\n  // bold/italic\n  s = s.replace(/(\\*\\*|__)(.*?)\\1/g, \"$2\");\n  s = s.replace(/(\\*|_)(.*?)\\1/g, \"$2\");\n\n  // code blocks & inline code\n  s = s.replace(/```[\\s\\S]*?```/g, m => m.replace(/```/g, \"\").trim());\n  s = s.replace(/`([^`]+)`/g, \"$1\");\n\n  // hr\n  s = s.replace(/^\\s*[-*_]{3,}\\s*$/gm, \"\");\n\n  // trim line-end spaces + collapse blank lines\n  s = s.replace(/[ \\t]+$/gm, \"\");\n  s = s.replace(/\\n{3,}/g, \"\\n\\n\");\n\n  return s.trim();\n}\n\n// ---------- n8n glue ----------\n\n// Helper: แปลง 1 item\nfunction transformItem(item) {\n  // เลือก field ที่จะอ่าน: text | input | output | ทั้ง json\n  const src =\n    item.json.text ??\n    item.json.input ??\n    item.json.output ??\n    \"\"; // fallback\n\n  const plain = mdToPlain(src);\n\n  return {\n    json: {\n      ...item.json,   // เก็บข้อมูลเดิมไว้\n      plain,          // ข้อความที่ถูกแปลง\n      // คุณจะเปลี่ยนชื่อ field เป็นอย่างอื่นก็ได้ เช่น \"clean\"\n    },\n  };\n}\n\n// รองรับทั้งสองโหมดของ Code node\nif ($input.all) {\n  // Run Once for All Items\n  const items = $input.all();\n  return items.map(transformItem);\n} else {\n  // Run Once for Each Item\n  return [transformItem({ json: $json })];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        80
      ],
      "id": "4a7a297f-831d-479c-9682-2237ef1689cb",
      "name": "Code"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Code').item.json.plain }}"
              },
              {
                "name": "url",
                "value": "={{ $json.webContentLink }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -32,
        448
      ],
      "id": "279a25f6-dc31-4a6e-9b3f-2e122c988330",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "D3yQVMSWLrYLZH9Q",
          "name": "ปะจิ"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        448
      ],
      "id": "e1aba345-5254-4a80-be84-e38bcc82ebe0",
      "name": "Get a file",
      "webhookId": "8740dc15-392a-4e02-880d-891367aca1cc",
      "credentials": {
        "telegramApi": {
          "id": "e3xOoryWmJN535U2",
          "name": "Jaivxx"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Telegram Trigger').item.json.message.caption }}",
        "driveId": {
          "__rl": true,
          "value": "1HEvJ5u-FwasMQ47gFiCY5eBtDiVnhIvm",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        448
      ],
      "id": "e01ec0b5-44fd-4412-9ac1-21cd4dc6e946",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "koHJXYYbgj3Wz6At",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7738519619",
        "text": "โพสแล้วครับพี่\nhttps://www.facebook.com/profile.php?id=61571127394813",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        448
      ],
      "id": "15e39685-5858-49e5-8c0d-bb9e289af577",
      "name": "Send a text message",
      "webhookId": "43e3c3eb-bcfa-4b9b-a6d0-9ae6e345e03d",
      "credentials": {
        "telegramApi": {
          "id": "e3xOoryWmJN535U2",
          "name": "Jaivxx"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-07T14:25:24.490Z",
      "updatedAt": "2025-09-07T14:25:24.490Z",
      "role": "workflow:owner",
      "workflowId": "hRNXq3XYSHiBYQXD",
      "projectId": "kCWQ90PondCDczpc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-14T11:08:59.000Z",
  "versionId": "b79f3b07-3709-4177-880b-17c77f17cec6"
}