workflows/ZDHSe8HWWkIlzdc6.json
{
  "active": false,
  "connections": {
    "Set Bridge Vars2": {
      "main": [
        [
          {
            "node": "Call Bridge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Bridge2": {
      "main": [
        []
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Set Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Bridge Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bridge Vars": {
      "main": [
        [
          {
            "node": "Call Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Bridge": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Set Bridge Vars1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bridge Vars1": {
      "main": [
        [
          {
            "node": "Call Bridge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Bridge1": {
      "main": [
        [
          {
            "node": "Respond1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Vars": {
      "main": [
        [
          {
            "node": "Select preset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Bridge3": {
      "main": [
        [
          {
            "node": "Decide / Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide / Fallback": {
      "main": [
        [
          {
            "node": "Respond2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select preset": {
      "main": [
        [
          {
            "node": "Call Bridge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T16:11:13.302Z",
  "id": "ZDHSe8HWWkIlzdc6",
  "isArchived": false,
  "meta": null,
  "name": "MT5",
  "nodes": [
    {
      "parameters": {
        "path": "signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a180a9d2-99d2-4f6b-b403-8a8c46290f2a",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        96,
        256
      ],
      "webhookId": "af527694-6733-4bd3-9866-8947ea970434"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "BRIDGE_URL",
              "value": "http://192.168.1.198:5005"
            },
            {
              "name": "BRIDGE_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "e70f761b-e057-482a-94b4-5e09d07a0e5e",
      "name": "Set Bridge Vars2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        672,
        -288
      ]
    },
    {
      "parameters": {
        "url": "={{$json.BRIDGE_URL}}/signal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "=XAUUSD"
            },
            {
              "name": "tf",
              "value": "M5"
            },
            {
              "name": "count",
              "value": "300"
            },
            {
              "name": "token",
              "value": "={{$json.BRIDGE_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7d1c4b1-d7f4-4616-9faf-e8860d95fcc3",
      "name": "Call Bridge2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        864,
        -288
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "da89857d-8a99-44a6-ba63-80ff94281692",
      "name": "Respond2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1216,
        256
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8587e367-1486-42a4-b5b1-edc0c0787b24",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a0a66d27-cb5a-497b-8bb9-1647218a3e60",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -400,
        -1040
      ],
      "webhookId": "8587e367-1486-42a4-b5b1-edc0c0787b24"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "BRIDGE_URL",
              "value": "http://192.168.1.198:5005"
            },
            {
              "name": "BRIDGE_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "3b95843b-36d5-4822-98a0-8a520263765c",
      "name": "Set Bridge Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -160,
        -1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.BRIDGE_URL}}/close",
        "options": {}
      },
      "id": "4ae80505-0557-43b8-9509-2e9b832dbb9e",
      "name": "Call Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -1040
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8071efd5-1026-481b-9f28-354692e1e6e3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        352,
        -1040
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "54a788c6-0bb4-476a-9b0d-df1f17dc0f74",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9c50adcc-5fa9-4524-9baa-b28822e881b6",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -400,
        -816
      ],
      "webhookId": "54a788c6-0bb4-476a-9b0d-df1f17dc0f74"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "BRIDGE_URL",
              "value": "http://127.0.0.1:5005"
            },
            {
              "name": "BRIDGE_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "4a22379f-a19a-4b09-ab3a-dd4ffaf00021",
      "name": "Set Bridge Vars1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -160,
        -816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.BRIDGE_URL}}/order",
        "options": {}
      },
      "id": "e96ca0a6-7eb0-44d0-81c9-4ef592ec7843",
      "name": "Call Bridge1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -816
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "970fd867-dab6-4d31-b7ef-451e85b04fea",
      "name": "Respond1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        352,
        -816
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "BRIDGE_URL",
              "value": "http://192.168.1.198:5005"
            },
            {
              "name": "symbol",
              "value": "={{$json[\"query\"][\"symbol\"] || \"XAUUSD\"}}"
            },
            {
              "name": "profile",
              "value": "balanced"
            },
            {
              "name": "token",
              "value": "``"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "392b3372-3b26-4d0e-b527-2eedca1e136e",
      "name": "Set Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        336,
        256
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"BRIDGE_URL\"]}}/signal",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "tf",
              "value": "={{$json.tf}}"
            },
            {
              "name": "mode",
              "value": "={{$json.mode}}"
            },
            {
              "name": "fast",
              "value": "={{$json.fast}}"
            },
            {
              "name": "slow",
              "value": "={{$json.slow}}"
            },
            {
              "name": "min_gap",
              "value": "={{$json.min_gap}}"
            },
            {
              "name": "rsi_on",
              "value": "={{$json.rsi_on}}"
            },
            {
              "name": "rsi_buy",
              "value": "={{$json.rsi_buy}}"
            },
            {
              "name": "rsi_sell",
              "value": "={{$json.rsi_sell}}"
            },
            {
              "name": "sl_atr",
              "value": "={{$json.sl_atr}}"
            },
            {
              "name": "rr",
              "value": "={{$json.rr}}"
            },
            {
              "name": "use_close",
              "value": "={{$json.use_close}}"
            },
            {
              "name": "confirm",
              "value": "={{$json.confirm}}"
            },
            {
              "name": "count",
              "value": "={{$json.count}}"
            },
            {
              "name": "token",
              "value": "={{$json.token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5c0458e3-8a4b-4317-8630-cdc2b0a5696e",
      "name": "Call Bridge3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        768,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json || {};\nconst src = body.mt5 ?? body;\nconst ind = src.indicators || {};\n\nconst price   = Number(src.entry ?? src.close);\nconst emaFast = Number(ind.ema_fast ?? ind.fast ?? 0);\nconst emaSlow = Number(ind.ema_slow ?? ind.slow ?? 0);\nconst rsi     = Number(ind.rsi ?? NaN);\n\nconst minGap   = Number(body.min_gap ?? 0.25);\nconst rsiOn    = Number(body.rsi_on ?? 0) === 1;   // ปิดค่า default\nconst rsiBuy   = Number(body.rsi_buy ?? 55);\nconst rsiSell  = Number(body.rsi_sell ?? 45);\nconst confirm  = Number(body.confirm ?? 0) === 1;  // ปิดค่า default\nconst useClose = Number(body.use_close ?? 0) === 1;// ปิดค่า default\n\nconst gap = emaFast - emaSlow;\nconst gapPct = Math.abs(gap) / (price || 1) * 100;\nconst dir = gap > 0 ? \"buy\" : gap < 0 ? \"sell\" : \"flat\";\n\nconst passGap = gapPct >= minGap;\n\nlet passRsi = true;\nif (rsiOn && Number.isFinite(rsi)) {\n  passRsi = dir === \"buy\" ? rsi >= rsiBuy : rsi <= rsiSell;\n}\n\n// === ตัดสินใจแบบผ่อนคลายเพื่อเทส ===\nlet action = \"flat\";\nlet reason = \"no signal\";\n\nif (dir !== \"flat\" && passGap && passRsi) {\n  action = dir;\n  reason = \"trend_ok\";\n}\n\n// ===== SL/TP from ATR =====\nconst dig  = Number(body.digits ?? 2);\nconst rr   = Number(body.rr ?? 1.8);      // ตั้งใน preset\nconst slAtr= Number(body.sl_atr ?? 1.2);  // ตั้งใน preset\nconst atr  = Number(ind.atr ?? 0);        // มาจาก bridge (atr_n ~14)\n\nconst point = 1 / Math.pow(10, dig);      // ขั้นขั้นต่ำของราคา เช่น 0.01\nconst round = v => Number(v.toFixed(dig));\n\nlet sl = null, tp = null;\n\nif (action !== \"flat\" && isFinite(price) && atr > 0) {\n  let risk = atr * slAtr;                 // ระยะ SL หน่วยเป็นราคา\n  // กันกรณีระยะสั้นเกินไป\n  if (risk < 3 * point) risk = 3 * point;\n\n  if (action === \"buy\") {\n    sl = round(price - risk);\n    tp = round(price + risk * rr);\n  } else if (action === \"sell\") {\n    sl = round(price + risk);\n    tp = round(price - risk * rr);\n  }\n}\n\nreturn [{\n  json: {\n    action, reason,\n    entry: src.entry, close: src.close, bar_time: src.bar_time,\n    tf: body.tf, symbol: body.symbol,\n    sl, tp,\n    indicators: {\n      ...ind,\n      gap_pct: Number((Math.abs((Number(ind.ema_fast ?? 0) - Number(ind.ema_slow ?? 0)))/(price||1)*100).toFixed(3)),\n      checks: {\n        dir, passGap, passRsi,\n        rsi_on: Number(body.rsi_on ?? 0) === 1,\n        confirm: Number(body.confirm ?? 0) === 1,\n        use_close: Number(body.use_close ?? 0) === 1\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        256
      ],
      "id": "9cc8ea26-3c69-4c9a-9784-3188cf8f6f2d",
      "name": "Decide / Fallback"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "BRIDGE_URL",
              "value": "http://192.168.1.198:5005"
            },
            {
              "name": "symbol",
              "value": "={{$json[\"query\"][\"symbol\"] || \"XAUUSD\"}}"
            },
            {
              "name": "tf",
              "value": "={{$json[\"query\"][\"tf\"] || \"M5\"}}"
            },
            {
              "name": "mode",
              "value": "={{$json[\"query\"][\"mode\"] || \"cross\"}}"
            },
            {
              "name": "lookback",
              "value": "={{$json[\"query\"][\"lookback\"] || \"10\"}}"
            },
            {
              "name": "fast",
              "value": "={{$json[\"query\"][\"fast\"] || \"10\"}}"
            },
            {
              "name": "slow",
              "value": "={{$json[\"query\"][\"slow\"] || \"21\"}}"
            },
            {
              "name": "rsi_on",
              "value": "={{$json[\"query\"][\"rsi_on\"] || \"0\"}}"
            },
            {
              "name": "min_gap",
              "value": "={{$json[\"query\"][\"min_gap\"] || \"0\"}}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "f7e15e70-81b7-476d-a82c-3859e4f0e55a",
      "name": "Set Vars1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        464,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "// อ่านค่าจาก Set Vars หรืออินพุตก่อนหน้า\nconst symbol  = $json.symbol ?? 'XAUUSD';\nconst profile = String($json.profile ?? 'balanced').toLowerCase();\n\n// ชุดพรีเซ็ต mode=trend\nconst presets = {\n  conservative: {\n    tf: 'M15', mode: 'trend',\n    fast: 13, slow: 55,\n    min_gap: 0.25,\n    rsi_on: 0, rsi_buy: 55, rsi_sell: 45,\n    sl_atr: 1.0, rr: 1.5,\n    use_close: 0, confirm: 0,\n    count: 800,\n    digits: 2\n  },\n  balanced: {\n    tf: 'M5', mode: 'trend',\n    fast: 7, slow: 120,\n    min_gap: 0.25,\n    rsi_on: 0, rsi_buy: 45, rsi_sell: 55,\n    sl_atr: 1.2, rr: 1.5,\n    use_close: 0, confirm: 0,\n    count: 800,\n    digits: 2\n  },\n  aggressive: {\n    tf: 'M5', mode: 'cross',\n    fast: 9, slow: 21,\n    min_gap: 0.15,\n    rsi_on: 0, // ปิด RSI เพื่อลดดีเลย์\n    sl_atr: 0.9, rr: 1.3,\n    use_close: 0, confirm: 0,\n    count: 600,\n    digits: 2\n  },\n};\n\n// เลือกพรีเซ็ต (fallback -> balanced)\nconst params = presets[profile] ?? presets.balanced;\n\n// ส่งต่อให้ HTTP Request\nreturn [{\n  json: {\n    BRIDGE_URL: $json.BRIDGE_URL ?? 'http://192.168.1.198:5005',\n    token: $json.token ?? '',\n    symbol,\n    ...params,\n    digits: 2,         // << แนะนำใส่ไว้ใน Select preset\n    profile: profile,  // ชื่อพรีเซ็ต (ถ้าอยากดูย้อนรอย)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        256
      ],
      "id": "f8a5e381-60c6-4ce7-b9ed-2b04f489b679",
      "name": "Select preset"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T16:11:13.314Z",
      "updatedAt": "2025-09-24T16:11:13.314Z",
      "role": "workflow:owner",
      "workflowId": "ZDHSe8HWWkIlzdc6",
      "projectId": "kCWQ90PondCDczpc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-10-07T13:39:47.000Z",
  "versionId": "0d10fb60-404f-4abf-8722-8dd3df673b76"
}